/* Layout tổng */
.app {
  padding: 10px 30px 30px 30px;
  background: #f5f7fb;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* Tiêu đề */
.card-screen {
  margin-bottom: 20px;
}

.card-screen h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

/* Container bảng */
.table-container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Header */
thead {
  background: #4f46e5;
  color: white;
}

th {
  padding: 14px;
  text-align: left;
  font-weight: 500;
}

/* Body */
td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  color: #333;
}

/* Hover row */
tbody tr:hover {
  background: #f1f5ff;
  transition: 0.2s;
}

/* Zebra row */
tbody tr:nth-child(even) {
  background: #fafafa;
}

/* Text style */
td:first-child {
  font-weight: 500;
}

td:last-child {
  color: #666;
}

.card-header {
  position: sticky;
  top: 0;
  background: #f5f7fb;
  z-index: 10;

  height: 50px;
  display: flex;
  align-items: center;
}

.deck-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.back-btn {
  width: 44px;
  height: 44px;

  font-size: 22px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: none;

  cursor: pointer;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #333;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: all 0.2s ease;
}

.back-btn:hover {
  background: #f0f0f0;
  transform: translateY(-1px);
}